<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  style="font-family: Arial, sans-serif; color:#000; line-height:1.5;"
>
  <tr>
    <td>
      <p>Hello {{username}},</p>

      <p>
        Click here to reset your password:<br />
        <a href="{{resetLink}}" style="color:#0b59d8;">{{resetLink}}</a>
      </p>

      <p>
        If you didn't request a password reset, please ignore this email.
      </p>

      <br />

      <p>--<br />
        Data and Information Technology Center<br />
        Ho Chi Minh City University of Technology<br />
        268 Ly Thuong Kiet St., Dist. 10, Ho Chi Minh City, VIETNAM<br />
        Tel: +848 3864 7265 Ext 5200<br />
        Webpage:
        <a href="http://netadm.hcmut.edu.vn" style="color:#0b59d8;">http://netadm.hcmut.edu.vn</a>
      </p>
    </td>
  </tr>
</table>