@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@layer base {
  html,
  body,
  #root {
    @apply min-h-screen bg-[#eee];
    font-family: "Roboto", sans-serif;
  }
}
